{% extends 'base.html' %} {% block content %}
<div>
  <h1>Signup</h1>
  <form method="post">
    <!-- <input type="text" placeholder="Enter Username" name="username" />
    <input type="password" placeholder="Enter Password 1" name="password1" />
    <input type="password" placeholder="Enter Password 2" name="password2" /> -->

    <label for="username">Username: </label>
    <input
      type="text"
      placeholder="enter username"
      name="username"
      required
    /><br /><br />

    <label for="password1">Password: </label>
    <input
      type="password"
      placeholder="enter password"
      name="password1"
      required
    /><br /><br />

    <label for="password2">Password confirmation: </label>
    <input
      type="password"
      placeholder="repeat password"
      name="password2"
      required
    /><br /><br />

    <button type="submit">Signup</button>
  </form>
</div>
{% endblock content %}
