{% extends 'base.html' %} {% block content %}
    <div>
        <h1>Create a new task</h1>
        <form method="post">
            {% csrf_token %}{{ form.as_p}}
            <!-- refer to tasks >  views.py > TaskCreateView for properties -->
            <button>Create</button>
        </form>
    </div>
{% endblock content %}
